# purpose of notebook

This notebook shows some of the capabilities of pandas module.
It is based on matplotlib for display and numpy for the mathematical 
underpinning.

It covers the importing of data, basic methods and the presentation.

In [1]:
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.image as mpimg
from matplotlib import rcParams


import numpy as np
import random

from IPython.display import Image

from misc import answer,hint

# What does pandas do?

The pandas module is the most commonly used python module for dealing with one and two dimensional dataframes.
You can use pandas for:

    looking at slices of data, 
    changing it on the fly, 
    very quickly running functions across all the data,
    displaying info.
    
Let's get started

# Creating dataframes

Dataframes can be imported from existing data or made on the fly. 

Going to show you three quick ways of getting a dataframe going.

# You learnt about lists, so lets start with them.

I have a list of values and some titles associated with them.

In [ ]:
iris_values = [5.1, 3.5, 1.4, 0.2, 'setosa']
iris_labels = ['Petal length','Petal Width','Sepal Length','Sepal Width','Iris Type']

That's not terribly attractive to look at and difficult to associate the values with the index.
Can get round this by changing our list of values into a pandas Series

In [ ]:
iris_series = pd.Series(iris_values,index = iris_labels)
iris_series

if we had lots of data, about irises we could form a list, 

where each item represents the length, width of petals and sepals etc.

In [ ]:
iris_values = [
    [5.1, 3.5, 1.4, 0.2, 'setosa'],
    [4.9, 3.0, 1.4, 0.2, 'setosa'],
    [4.7, 3.2, 1.3, 0.2, 'setosa'],
    [4.6, 3.1, 1.5, 0.2, 'setosa'],
    [5.0, 3.6, 1.4, 0.2, 'setosa'],
    [5.4, 3.9, 1.7, 0.4, 'setosa'],
    [4.6, 3.4, 1.4, 0.3, 'setosa'],
    [5.0, 3.4, 1.5, 0.2, 'setosa'],
    [4.4, 2.9, 1.4, 0.2, 'setosa'],
    [4.9, 3.1, 1.5, 0.1, 'setosa']]

This time our data is two dimensional - we convert it to a DataFrame rather than a Series

In [ ]:
iris_dataframe = pd.DataFrame(iris_values,columns = iris_labels)
iris_dataframe


## Creating a dataframe using dictionaries

Any 1 or 2 dimensional dictionary will convert to a dataframe/series easily.

In [ ]:
df = pd.DataFrame({'a': {'A': 16, 'B': 10, 'C': 23, 'D': 20},
                   'b': {'A': 13, 'B': 19, 'C': 25, 'D': 19},
                   'c': {'A': 9, 'B': 17, 'C': 7, 'D': 24},
                   'd': {'A': 23, 'B': 28, 'C': 31, 'D': 2},
                   'e': {'A': 19, 'B': 12, 'C': 19, 'D': 23}})

df

In [ ]:
series = pd.Series({'A': 16, 'B': 10, 'C': 23, 'D': 20})
series

# Importing data
much of our data comes as comma separated variable files .csv and we can load these directly into pandas dataframes
using pd.read_csv()

Specify the path to the file, the number of our index column and the number of our header row.

In [ ]:
path = 'weather.csv'
header = 0
index_col = 0

example = pd.read_csv(path, index_col = index_col, header = header)

# Looking at our data ;)

We can look at the start of the data with .head() and the end with .tail()

In [ ]:
example.head()

In [ ]:
example.tail()

Note that our index does not need to be unique

We can look at a column very simply by giving its name - note the square brackets

In [ ]:
example['sun'].head()

And we can look at the rows by using the method .loc

In [ ]:
example.loc[1].head()

Note that we are treating the first month here as the label 1, not row 1.
We use the method .iloc to look at particular numbers or ranges of numbers

Dont forget that pandas like python counts from 0

In [ ]:
example.iloc[[0,2,3]]

And we can even put these elements together

In [ ]:
example.iloc[[2,4,5],[0,1]]

Our data falls into three parts, the columns, the index and the values

In [ ]:
example.columns

In [ ]:
example.index

These months are obviously repeated each year - we do not have a unique index. If we just want to find out
what is in our index we can convert it into a set of values

In [ ]:
unique_index = set(example.index)

In [ ]:
unique_index

In [ ]:
example.values

# Getting a quick overview of our data

The method describe is a very quick way of getting to grips with our data

In [ ]:
example.describe()

We can also get an easy understanding of what we have in our data by plotting histograms of the data.

In [ ]:
_= example.hist()
plt.tight_layout()

In [ ]:
example[:12][['tmax','tmin']].plot()

# Exercise 1

I've saved some data about irises at irises.csv. This information is commonly used as a test set for machine learning 
to see if we can tell the three different types of irises apart and it is very easy to do so.

We are going to investigate why this is.

If at any stage you get stuck and you want a hint try calling hint(n) for a hint on the nth question or answer(n)
if you are really stuck and just need the answer.

Questions

0) Modify the statement below to import this data using pd.read_csv() as before call the dataframe iris

In [ ]:
example = pd.read_csv('weather.csv', header = 0, index_col = 0)

In [ ]:
iris = pd.read_csv('irises.csv', header = 0, index_col = 0)

1) Print out the column titles

2)  Find the minimum sepal length

3) What are the three types of iris?

4) How can we most easily tell the three different types of irises apart by plotting the dataframe.

5) make three separate dataframes one for each type of iris. call them s, ve, and vi 
Now do a plot of the three different dataframes. Use the information to distinguish between our three mystery
irises. Which one is which?

6) finally have a look at the histogram of iris.

# Methods

Now lets go back to our weather data. We want to be able to do things like compare the sunshine in a particular month and year with the sunshine average for that year.

we can make a method to find the mean for each month using the built in function .mean()

In [ ]:
example.loc[1,'tmax'].head()

In [ ]:
def tmax_mean(i) :
    
    return example.loc[i,'tmax'].mean()

# Map 

Use .map to apply this method to all the values in our index to create a new column to our
dataframe.

In [ ]:
tmax_average = example.index.map(tmax_mean)
example['tmax_average']=tmax_average

In [ ]:
example.head()

Now let's just keep those rows where it was hotter  than the monthly average. There's more than one way of doing this.

First we need to understand a bit more about .loc We don't just have to give it some labels. We could also give it a Series of labels with True and False. We will only be returned the values for which the label is True

In [ ]:
mylist = [False]*6+[True]*6
mylist

In [ ]:
half_year = pd.Series(mylist,index = range(1,13))
half_year

In [ ]:
example.loc[half_year][:10]

let's use this to find all the rows where we had hot weather

In [ ]:
hot = example ['tmax']>example['tmax_average']

hot.head()

hot_days = example.loc[hot]
hot_days.head()

we can use this data to count how many months were hot in each year. We take the column 'yyyy' and apply value_counts to it, put it back into the chronological order and then plot it.


# value_counts

count how often a particular value turns up

In [ ]:
hot_days['yyyy'].value_counts().loc[range(1959,2019)].plot()

This analysis relied on us being able to do a direct comparison between series

hot = example ['tmax']>example['tmax_average']

In fact we can compare series or dataframes and, add them, multiply them .... Anything which is a pointwise comparison. If we want to be more complex we can use .map as before

# Exercise 2

Redo the above analysis looking at the rain column.

7) which is the rainiest month on average?

8) If we look at the number of months when it has been rainier than average can we tell if it been getting rainier or not?

9) In which month/year was the ratio rainfall / rainfall_monthly_average highest?

# Apply
For rows we can use .apply Much more powerful but slower

In [ ]:
row = example.iloc[0]
row

In [ ]:
yyyy, tmax, tmin, af, rain, sun, tmax_average = row

In [ ]:
tmax>tmax_average

In [ ]:
def is_hot(row):
    yyyy, tmax, tmin, af, rain, sun, tmax_average = row
    return tmax>tmax_average

In [ ]:
row_is_hot = example.apply(is_hot,axis=1)
row_is_hot.head()

In [ ]:
hot_days = example.loc[row_is_hot]
hot_days.head()

# lets have a first look at groupby

In [ ]:
full_years = example[:-6].copy()

In [ ]:
gr = full_years.groupby(by = 'yyyy')

In [ ]:
gr.sum()['tmax'].plot()

In [ ]:
full_years.groupby(by = 'yyyy').groups

This isnt what we wanted! Our non-unique id has become a problem.

In [ ]:
index = pd.Series(full_years.index,index =full_years.index )
full_years['mm']=index
full_years.index = range(full_years.shape[0])

In [ ]:
full_years.groupby(by = 'yyyy').groups

# Hierarchical indexing

We can use both years and months as our index

In [ ]:
full_years =full_years.set_index(['yyyy','mm'])

In [ ]:
full_years

In [ ]:
full_years.loc[1959,3]

In [ ]:
full_years.loc[1959,:]

 if we try it the other way round we get an error.

In [ ]:
full_years.loc[:,3]

In [ ]:
full_years['sun'].loc[:,3]

# melt and pivot
reshape your data to give each column its own row

In [ ]:
example['mm'] = pd.Series(example.index,index = example.index)
example.index = range(example.shape[0])
example['index'] = example.index

In [ ]:
example_melt = example.melt(id_vars = 'index')
example_melt[:5]

In [ ]:
example_melt[-5:]

In [ ]:
example_melt_pivot = example_melt.pivot(index = 'index',
                              columns = 'variable',
                              values = 'value')[:5]
example_melt_pivot